@charset "UTF-8";
/* Effekter */
.fade {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.fade:hover {
  background-color: #9da2ab;
}

/* CSS for Scrollmagic  */
.reveal {
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.reveal.visible {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* CSS for IE 11 og 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    display: none !important;
  }

  .ieonly {
    display: block !important;
    text-align: center;
  }
}
html {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: #0e0800;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigering */
.main-nav {
  background: #0e0800;
}
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0px 20px 0px 20px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
  background: #0e0800;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
}

/* Topp Kontainer */
.topp-kontainer {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "showcase showcase top-box-a" "showcase showcase top-box-a";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 100px;
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
}
.showcase h2 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #fff;
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #fff;
}

/* Top Box */
.top-box {
  background: #0d324d;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}
.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}
.top-box-a a {
  color: #fff;
}

/* Bokser */
.bokser {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.bokser .fab {
  padding: 10px;
}

.boks {
  background: #0d324d;
  text-align: center;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
}

/* Info */
.info {
  background: #0d324d;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/* Portefølje */
.portfolio-content {
  display: grid;
  grid-template-columns: 1fr;
  background: #0d324d;
  color: #fff;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
}

.boks p {
  text-align: center;
}

.bokser a {
  color: #fff;
}

.portfolio-content span {
  padding: 0.5rem;
}

.portfolio-header {
  display: grid;
  grid-template-columns: 1fr;
  background: #0e0800;
  color: #fff;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
}

h3,
.portfolio-content span {
  text-align: center;
  text-transform: uppercase;
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.portfolio .portfolio img {
  width: auto;
  -webkit-box-shadow: rgba(104, 104, 104, 0.8);
          box-shadow: rgba(104, 104, 104, 0.8);
  max-height: 300px;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: #0e0800;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (min-width: 740px) and (max-width: 960px) {
  .bokser {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 700px) {
  .main-nav li:first-of-type {
    border-left: none;
  }

  .main-nav li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 700px) {
  .main-nav {
    background: none;
  }

  .topp-kontainer {
    grid-template-areas: "showcase showcase" "top-box-a top-box-a";
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .top-box-a a {
    padding: 15px;
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .main-nav {
    background: none;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .topp-kontainer {
    grid-template-areas: "showcase" "top-box-a";
  }

  .top-box-a a {
    padding: 15px;
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .showcase h1,
.showcase p {
    text-align: center;
  }

  .showcase {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}