// TODO Replace with @use and clean up folder-structure
@import 'variabler';
@import '../css/hover/hover';

/* CSS for Scrollmagic */
.reveal {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.reveal.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* CSS for IE 11 og 10 */
// TODO Extract to Mixins

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    display: none !important;
  }

  .ieonly {
    display: block !important;
    text-align: center;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: $text;
  scroll-behavior: smooth;
}

body {
  background: $text;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: $dark;
  color: $text;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigering */

.main-nav {
  background: $dark;

  ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }

  a {
    background: $dark;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: $text;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}

/* Topp Kontainer */
.topp-kontainer {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-a';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 100px;
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: $shadow;

  h2 {
    font-size: 4rem;
    margin-bottom: 0;
    color: $text;
  }

  p {
    font-size: 1.3rem;
    margin-top: 0;
    color: $text;
  }
}

/* Top Box */
.top-box {
  background: $primary;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: $shadow;
  padding: 1.5rem;

  .price {
    font-size: 2.5rem;
  }
}

.top-box-a {
  grid-area: top-box-a;

  a {
    color: #fff;
  }
}

/* Bokser */

.bokser {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .fab {
    padding: 10px;
  }
}

.boks {
  background: $primary;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: $shadow;
}

/* Info */
.info {
  background: $primary;
  box-shadow: $shadow;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/* Portefølje */

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr;
  background: $primary;
  color: $text;
  box-shadow: $shadow;
}

.boks p {
  text-align: center;
}

.bokser a {
  color: #fff;
}

.portfolio-content span {
  padding: 0.5rem;
}

.portfolio-header {
  display: grid;
  grid-template-columns: 1fr;  
  background: $dark;
  color: $text;
  box-shadow: $shadow;
}

h3,
.portfolio-content span {
  text-align: center;
  text-transform: uppercase;
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  .portfolio img {
    width: auto;
    box-shadow: $shadow;
    max-height: 300px;
  }
}

/* Footer */
footer {
  margin-top: 2rem;
  background: $dark;
  color: $text;
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
// TODO Extract to mixins

@media (min-width: 740px) and (max-width: 960px) {
  .bokser {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 700px) {
  .main-nav li:first-of-type {
    border-left: none;
  }

  .main-nav li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 700px) {
  .main-nav {
    background: none;
  }

  .topp-kontainer {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-a';
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .top-box-a a {
    padding: 15px;
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .main-nav {
    background: none;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .topp-kontainer {
    grid-template-areas:
      'showcase'
      'top-box-a';
  }

  .top-box-a a {
    padding: 15px;
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .showcase h1,
  .showcase p {
    text-align: center;
  }

  .showcase {
    align-items: center;
  }
}

.hvr-overline-from-center:hover:before,
.hvr-overline-from-center:focus:before,
.hvr-overline-from-center:active:before {
  left: 20px;
  right: 20px;
}
