/* CSS for IE 11 og 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    display: none !important;
  }

  .ieonly {
    display: block !important;
    text-align: center;
  }
}

@media (min-width: 740px) and (max-width: 960px) {
  .bokser {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 700px) {
  .main-nav li:first-of-type {
    border-left: none;
  }

  .main-nav li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 700px) {
  .main-nav {
    background: none;
  }

  .topp-kontainer {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-a' !important;
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .top-box-a a {
    padding: 15px;
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .main-nav {
    background: none;
  }

  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .topp-kontainer {
    grid-template-areas:
      'showcase'
      'top-box-a' !important;
  }

  .top-box-a a {
    padding: 15px;
  }

  .top-box-a {
    grid-template-columns: 1fr;
  }

  .showcase h1,
  .showcase p {
    text-align: center;
  }

  .showcase {
    align-items: center;
  }
}
