@import "tailwindcss/base";

@import "tailwindcss/components";

body {
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

#hamburger {
  width: 2.5rem;
  height: 2rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  
}

.shadow-outline-red {
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
}

#main-hero {
  background-image: url("../assets//blue-hero.jpg");
  height: 450px;
}

/* All delay classes will take less time to start */
.animate__delay-1s {
  --animate-delay: 0.25s;
}
.animate__delay-2s {
  --animate-delay: 0.5s;
}

.animate__delay-3s {
  --animate-delay: 0.75s;
}

@import "tailwindcss/utilities";
