@import "tailwindcss/base";

@import "tailwindcss/components";

body {
  font-family: "Lato";
  background-color: #f2f2f2;
}

.svg-inline--fa:hover {
  color: silver;
}

@import "tailwindcss/utilities";
