@use '../../variabler' as variabler;

/* Top Box */
.top-box {
  background: variabler.$primary;
  text-align: center;
  -webkit-box-shadow: variabler.$box-shadow;
  -moz-box-shadow: variabler.$box-shadow;
  box-shadow: variabler.$box-shadow;
  padding: 1.5rem;

  p {
    text-align: left;
  }

  .price {
    font-size: 2.5rem;
  }
}

.top-box-a {
  a {
    color: #fff;
  }
}
