/* Bokser */
@use '../../variabler' as variabler;

.bokser {
    .fab {
      padding: 10px;
    }
  }
  
  .boks {
    background: variabler.$primary;
    text-align: center;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  }
  
  .boks p {
    text-align: left;
  }